
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--KyB {
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  align-items: center;
  display: flex;
  padding-bottom: 6.8rem;
  position: relative;
  background-color: #ffffff;

  .item--4Qy {
    padding: 3.505rem 0rem 0.356rem 0rem;
    flex-shrink: 0;
    flex-direction: column;
    margin-bottom: 4.3rem;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;

    .eva-arrow-ios-back-fill-n65 {
      margin: 0rem 0rem 3.283rem 3.796rem;
      width: 1.7705rem;
      height: 3.4562rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-4-JaD {
      flex-shrink: 0;
      width: 144.3341rem;
      height: 0;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .content-kSD {
    flex-shrink: 0;
    margin: 0rem 16rem 0rem 16.1rem;
    box-sizing: border-box;
    padding-top: 2.4rem;
    width: calc(100% - 32.1rem);
    height: 98.2rem;
    overflow: hidden;
    position: relative;

    .main-GQZ {
      height: 100%;
      overflow: hidden;
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;

      .auto-group-hvdh-R2Z {
        margin-bottom: 5rem;
        width: 100%;
        height: 43.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-h4jv-m6R {
          height: calc(100% - 1.2rem);
          row-gap: 4.7rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.3rem 10.3rem 0.9rem 0rem;
          width: 50.8rem;

          .item--qc5 {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .item--Zny {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.2rem 1rem;
              font-size: 3rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: NanumGothic, 'Source Sans Pro';
            }
            .frame-11-rGH {
              height: 7rem;
              border: solid 0.1rem #000000;
              box-sizing: border-box;
              border-radius: 1rem;
              flex-shrink: 0;
              width: 100%;
            }
          }
          .item--PX7 {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .item--Y97 {
              font-family: NanumGothic, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.2rem 1rem;
              font-size: 3rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
            }
            .frame-11-rfb {
              width: 100%;
              height: 7rem;
              border: solid 0.1rem #000000;
              box-sizing: border-box;
              border-radius: 1rem;
              flex-shrink: 0;
            }
          }
          .item--PvR {
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;
            display: flex;

            .item--MMT {
              flex-shrink: 0;
              margin: 0rem 0rem 0.2rem 1rem;
              font-size: 3rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: NanumGothic, 'Source Sans Pro';
              white-space: nowrap;
            }
            .frame-11-5HT {
              width: 50.8rem;
              height: 7rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 1rem;
              flex-shrink: 0;
            }
          }
        }
        .item--CN5 {
          height: 100%;
          flex-shrink: 0;
          width: 50.8rem;

          .item--92R {
            color: #000000;
            font-family: NanumGothic, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.2rem 1rem;
            font-size: 3rem;
            font-weight: 400;
            line-height: 1.2575;
          }
          .frame-11-G73 {
            height: 7rem;
            border: solid 0.1rem #000000;
            border-radius: 1rem;
            margin-bottom: 2.4rem;
            box-sizing: border-box;
            padding: 1.6rem 1.5rem 1.6rem 32.5rem;
            width: 100%;

            .frame-32-Ay7 {
              font-weight: 400;
              background-color: #a7c7df;
              padding: 0.7rem 2.5rem 0rem 2.5rem;
              font-family: NanumGothic, 'Source Sans Pro';
              color: #000000;
              width: 100%;
              overflow: hidden;
              font-size: 2.5rem;
              line-height: 1.2575;
              white-space: nowrap;
              border-radius: 1.441rem;
              box-sizing: border-box;
              height: 100%;
              position: relative;
            }
          }
          .frame-33-Sfj {
            column-gap: 2.5rem;
            align-items: center;
            margin: 0 0.5rem;
            width: calc(100% - 1rem);
            height: 30.2rem;
            display: flex;

            .auto-group-ggpv-xPB {
              flex-shrink: 0;
              width: 14.9rem;
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;

              .rectangle-25-tGq {
                height: 14.3rem;
                background-color: #d9d9d9;
                flex-shrink: 0;
                margin-bottom: 1.6rem;
                width: 100%;
              }
              .rectangle-27-RnZ {
                background-color: #d9d9d9;
                flex-shrink: 0;
                width: 100%;
                height: 14.3rem;
              }
            }
            .auto-group-2dud-kZw {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              width: 15rem;
              height: 100%;
              align-items: center;

              .rectangle-26-W3K {
                width: 100%;
                height: 14.3rem;
                background-color: #d9d9d9;
                flex-shrink: 0;
                margin-bottom: 1.6rem;
              }
              .rectangle-28-44q {
                width: 100%;
                height: 14.3rem;
                background-color: #d9d9d9;
                flex-shrink: 0;
              }
            }
            .auto-group-rnxd-oo7 {
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              width: 14.9rem;

              .rectangle-29-A7s {
                flex-shrink: 0;
                margin-bottom: 1.6rem;
                width: 100%;
                height: 14.3rem;
                background-color: #d9d9d9;
              }
              .rectangle-30-VR3 {
                background-color: #d9d9d9;
                flex-shrink: 0;
                width: 100%;
                height: 14.3rem;
              }
            }
          }
        }
      }
      .item--SbB {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 8.3rem;
        width: 100%;

        .item--kbs {
          display: flex;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.3626480103;
          color: #000000;
          font-family: NanumGothic, 'Source Sans Pro';
          margin: 0rem 0rem 1rem 1.6rem;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item--4Mf {
          line-height: 1.3626480103;
          font-family: NanumGothic, 'Source Sans Pro';
          padding: 1.4rem 1.6328rem;
          width: 100%;
          font-size: 3rem;
          font-weight: 400;
          color: #b3b3b3;
          border: solid 0.1rem #000000;
          flex-shrink: 0;
          box-sizing: border-box;
          height: 26.8rem;
          border-radius: 1rem;
          display: flex;
          white-space: nowrap;
        }
      }
      .item--WUZ {
        margin: 0rem 3.6rem 0rem 3.8rem;
        width: calc(100% - 7.4rem);
        height: 7rem;
        display: flex;
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: 700;
        line-height: 1.0219860077;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        font-size: 4rem;
        font-family: NanumGothic, 'Source Sans Pro';
        color: #ffffff;
        background-color: #a7c7df;
      }
    }
  }
}
