
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 200rem;
}.item--YSV {
  background-image: url('REPLACE_IMAGE:1aa962775839b88957a1a458702ee35ee97a512f');
  width: 200rem;
  height: 112.5rem;
  position: relative;
  background-size: 100% 100%;
}
