html {
  font-size: 45%;
}

* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

input {
  border: none;
  background-color: #e3ebf1;
  width: 100%;
  font-size: large;
  margin-right: 10px;
}

input:focus {
  outline: none;
}

.chat-box {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: relative;
}

.chat-box > div {
  width: 100%;
}

.chat-box .back-box {
  box-sizing: border-box;
  padding: 3.538rem 0rem 0.36rem 0rem;
  width: 144rem;
  height: 10.7rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.chat-box .back-box .back-icon {
  margin: 0rem 0rem 3.314rem 3.796rem;
  width: 1.7705rem;
  height: 3.4888rem;
  object-fit: contain;
  vertical-align: top;
}

.chat-box .send-box {
  box-sizing: border-box;
  padding: 1%;
  height: 8.8rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: #e3ebf1;
}

.chat-box .send-box .send-icon {
  margin-left: 10px;
  width: 3.5rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.chat-box .content-box {
  box-sizing: border-box;
  padding: 6.6rem 3.8rem 12rem 3.8rem;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 20rem;
  overflow-y: auto;
}

.chat-box .content-box .myChat {
  margin-left: auto;
  width: 30%;
  height: auto;
  background-color: #e3ebf1;
  border-radius: 1.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.chat-box .sellerChat-box {
  margin-bottom: 2rem;
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chat-box .seller-name {
  font-size: 2.2rem;
  font-weight: 300;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  margin-bottom: 0.5rem;
}

.chat-box .sellerChat {
  width: 100%;
  height: 6.2rem;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  padding: 1rem;
}

.chat-box .chat-title {
  width: 19rem;
  height: 4.9rem;
  position: absolute;
  left: 10rem;
  top: 3rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}

.chat-box .line {
  width: 100%;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 11rem;
  background-color: #000000;
}