
html {
	font-size:45%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
  background-color: #e3ebf1;
  width: 90%;
  font-size: large;
}
input:focus{
  outline: none;
}
.sellerPage-box {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.sellerPage-box .left-box {
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  flex-shrink: 0;
}
.sellerPage-box .left-box .prevImg-icon {
  margin: 0rem 2.856rem 27.8rem 0rem;
  width: 2.3871rem;
  height: 4.0509rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sellerPage-box .left-box .post-box {
  margin-right: 2.6912rem;
  width: 62.5rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sellerPage-box .left-box .post-box .post-img {
  width: 100%;
  height: 56.7rem;
  background-color: #bfbfbf;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.sellerPage-box .left-box .post-box .post-img .productimg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.sellerPage-box .left-box .post-box .postContent-box {
  box-sizing: border-box;
  padding-top: 3.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sellerPage-box .left-box .post-box .postContent-box .seller-info {
  margin-bottom: 4.8rem;
  height: 8.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sellerPage-box .left-box .post-box .postContent-box .seller-info .seller-profile {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sellerPage-box .left-box .post-box .postContent-box .seller-info .seller-profile .seller-img {
  margin-right: 1.6rem;
  width: 8.4rem;
  height: 8.5rem;
  background-color: #ffffff;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.sellerPage-box .left-box .post-box .postContent-box .seller-info .seller-profile .seller-img .sellerimg {
  max-width: 100%; /* 이미지의 최대 너비를 100%로 설정 */
  max-height: 100%; /* 이미지의 최대 높이를 100%로 설정 */
  display: flex;
  align-items: center;
}

.sellerPage-box .left-box .post-box .postContent-box .seller-info .seller-profile .info-box {
  margin: 0.2rem 0rem 0.5rem 0rem;
  height: calc(100% - 0.7rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sellerPage-box .left-box .post-box .postContent-box .seller-info .seller-profile .info-box .seller-label {
  margin-bottom: 1.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sellerPage-box .left-box .post-box .postContent-box .seller-info .seller-profile .info-box .seller-name {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sellerPage-box .left-box .post-box .postContent-box .seller-info .sellButton {
  margin-left: auto;
  width: 13.3rem;
  height: calc(100% - 3.3rem);
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a7c7df;
  border-radius: 1rem;
  flex-shrink: 0;
}
.sellButton:hover{
  background-color: #6199b3 !important;
}
.sellerPage-box .left-box .post-box .postContent-box .title-box {
  margin-bottom: 1.8rem;
  height: 3.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sellerPage-box .left-box .post-box .postContent-box .title-box .title {
  margin-right: 2.5rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sellerPage-box .left-box .post-box .postContent-box .title-box .price {
  margin: 0rem 18.5rem 0rem 0rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sellerPage-box .left-box .post-box .postContent-box .title-box .post-info {
  margin-left: auto;
  height: calc(100% - 1.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sellerPage-box .left-box .post-box .postContent-box .title-box .post-info .view-count {
  margin-right: 2.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sellerPage-box .left-box .post-box .postContent-box .title-box .post-info .heart-count {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sellerPage-box .left-box .post-box .postContent-box .post-content {
  max-width: 42.9rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.sellerPage-box .left-box .nextImg-icon {
  margin-bottom: 27.5rem;
  width: 2.3047rem;
  height: 3.9113rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sellerPage-box .right-box {
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #c4d6e4;
  flex-shrink: 0;
}
.sellerPage-box .right-box .comment-box {
  box-sizing: border-box;
  padding: 2.9rem 2.5rem 53rem 3.2rem;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow-y: scroll;
}
.sellerPage-box .right-box .comment-box .comment-count {
  margin-bottom: 6.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sellerPage-box .right-box .comment-box .item--Qws {
  margin: 0rem 0rem 3rem 1rem;
  width: calc(100% - 1rem);
  height: 12.8rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.sellerPage-box .right-box .comment-box .item--Qws .user-box {
  margin-right: 2.4rem;
  width: 8.4rem;
  height: 100%;
  flex-shrink: 0;
}
.sellerPage-box .right-box .comment-box .item--Qws .user-box .user-img {
  margin-bottom: 1.3rem;
  width: 100%;
  height: 8.5rem;
  background-color: #fdfdfd;
  display: flex;
  align-items: center;
}
.sellerPage-box .right-box .comment-box .item--Qws .user-box .user-img .userimg{
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
}
.sellerPage-box .right-box .comment-box .item--Qws .user-box .user-name {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.sellerPage-box .right-box .comment-box .item--Qws .userComment-box {
  box-sizing: border-box;
  padding: 2rem 1.5rem 0.8rem 2.1rem;
  width: 42.3rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.sellerPage-box .right-box .comment-box .item--Qws .userComment-box .userComment {
  margin: 0rem 22rem 4.4rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sellerPage-box .right-box .comment-box .item--Qws .userComment-box .userComment-time {
  margin-left: 21.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sellerPage-box .right-box .send-box {
  box-sizing: border-box;
  padding: 2.4rem 0rem 2.986rem 2.2rem;
  width: 100%;
  margin-top: auto;
  display: flex;
  align-items: center;
  background-color: #e3ebf1;
  flex-shrink: 0;
}
.sellerPage-box .right-box .send-box .send-icon {
  margin-top: 0.5858rem;
  margin-left: 10px;
  width: 3.2429rem;
  height: 2.8283rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 40%;
  min-width: 330px;
  margin-left: -20%;
  height: 350px;
  margin-top: -280px;
  z-index: 1000;
  border: solid 2px #a7c7df;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
}

.popuptitle{
  padding-right: 5px;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.5;
  font-family: Inter, 'Source Sans Pro';
}

.popuptitleLabel{
  padding-right: calc(100% - 45rem);
  font-size: 2rem;
  font-weight: 200;
  line-height: 2.5;
  font-family: Inter, 'Source Sans Pro';
}

.closeButton{
  margin-left: auto;
  width: 20px;
  height: 20px;
  background-color: #a7c7df;
  border: solid 1px ;
}

.line{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 0.1rem;
  background-color: #89c593;
}

.buyerList{
  height: 300px;
  overflow: scroll;
}

.buyer{
  margin: 20px;
}

.buyerName{
  padding: 5px;
  font-size: 2.4rem;
  font-weight: 400;
  font-family: Inter, 'Source Sans Pro';
}

.buyTime{
  padding-top: 10px;
  font-size: 1.8rem;
  font-weight: 150;
  font-family: Inter, 'Source Sans Pro';
}

.popupchatButton{
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
  background-color: #a7c7df;
  border-radius: 5px;
  height: 25px;
  width: 60px;
  vertical-align: bottom;
  font-size: 2rem;
  font-weight: 400;
  font-family: Inter, 'Source Sans Pro';
}

.popupsellButton{
  display: inline-block;
  background-color: #a7c7df;
  border-radius: 5px;
  height: 25px;
  width: 35px;
  vertical-align: bottom;
  font-size: 2rem;
  font-weight: 400;
  font-family: Inter, 'Source Sans Pro';
}

.popupchatButton:hover{
  background-color: #6199b3;
}

.popupsellButton:hover{
  background-color: #6199b3;
}