
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--Yqf {
  box-sizing: border-box;
  padding-left: 5.2565rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.item--Yqf .icon-hardware-keyboardarrowright24px-UUR {
  margin: 0rem 2.856rem 29.9rem 0rem;
  width: 2.3871rem;
  height: 4.0509rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F {
  width: 133.5rem;
  height: 102.4rem;
  position: relative;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .rectangle-16-KV3 {
  width: 62.5rem;
  height: 56.7rem;
  position: absolute;
  left: 0;
  top: 7.9rem;
  background-color: #bfbfbf;
}
.item--Yqf .auto-group-a3as-b3F .icon-hardware-keyboardarrowright24px-R2H {
  width: 2.3047rem;
  height: 3.9113rem;
  position: absolute;
  left: 65.1912rem;
  top: 34.4444rem;
  object-fit: contain;
  vertical-align: top;
}
.item--Yqf .auto-group-a3as-b3F .item--X5K {
  width: 15.2rem;
  height: 3.9rem;
  position: absolute;
  left: 0;
  top: 81.3rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Yqf .auto-group-a3as-b3F .item--BvZ {
  width: 12.5rem;
  height: 2.5rem;
  position: absolute;
  left: 48.5rem;
  top: 82.1rem;
  display: flex;
  align-items: center;
}
.item--Yqf .auto-group-a3as-b3F .item--BvZ .item-5-6Xj {
  margin-right: 2.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--BvZ .item-2-DsF {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--ZRK {
  width: 59.8rem;
  height: 102.4rem;
  position: absolute;
  left: 73.7rem;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #c4d6e4;
}
.item--Yqf .auto-group-a3as-b3F .item--ZRK .auto-group-qefm-4ss {
  box-sizing: border-box;
  padding: 2.9rem 2.5rem 53rem 3.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--ZRK .auto-group-qefm-4ss .item-2-oKf {
  margin-bottom: 6.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--ZRK .auto-group-qefm-4ss .item--JGR {
  margin: 0rem 0rem 3rem 1rem;
  width: calc(100% - 1rem);
  height: 12.8rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--ZRK .auto-group-qefm-4ss .item--JGR .auto-group-5jc7-1gd {
  margin-right: 2.4rem;
  width: 8.4rem;
  height: 100%;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--ZRK .auto-group-qefm-4ss .item--JGR .auto-group-5jc7-1gd .rectangle-18-ZTF {
  margin-bottom: 1.3rem;
  width: 100%;
  height: 8.5rem;
  background-color: #fdfdfd;
}
.item--Yqf .auto-group-a3as-b3F .item--ZRK .auto-group-qefm-4ss .item--JGR .auto-group-5jc7-1gd .item--Hu3 {
  margin-left: 0.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Yqf .auto-group-a3as-b3F .item--ZRK .auto-group-qefm-4ss .item--JGR .auto-group-fhdd-Dnh {
  box-sizing: border-box;
  padding: 2rem 1.5rem 0.8rem 2.1rem;
  width: 42.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--ZRK .auto-group-qefm-4ss .item--JGR .auto-group-fhdd-Dnh .item--88y {
  margin: 0rem 22rem 4.4rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--ZRK .auto-group-qefm-4ss .item--JGR .auto-group-fhdd-Dnh .item-2023-11-11-16-39-1Cm {
  margin-left: 21.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--ZRK .auto-group-qefm-4ss .item--KUM {
  margin-left: 1rem;
  width: calc(100% - 1rem);
  height: 12.8rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--ZRK .auto-group-qefm-4ss .item--KUM .auto-group-wm7h-f2R {
  margin-right: 2.4rem;
  width: 8.4rem;
  height: 100%;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--ZRK .auto-group-qefm-4ss .item--KUM .auto-group-wm7h-f2R .rectangle-18-Co3 {
  margin-bottom: 1.3rem;
  width: 100%;
  height: 8.5rem;
  background-color: #fdfdfd;
}
.item--Yqf .auto-group-a3as-b3F .item--ZRK .auto-group-qefm-4ss .item--KUM .auto-group-wm7h-f2R .item--ZNh {
  margin-left: 0.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Yqf .auto-group-a3as-b3F .item--ZRK .auto-group-qefm-4ss .item--KUM .auto-group-hvuo-4qF {
  box-sizing: border-box;
  padding: 2rem 1.5rem 0.8rem 2.1rem;
  width: 42.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--ZRK .auto-group-qefm-4ss .item--KUM .auto-group-hvuo-4qF .item--Nb3 {
  margin: 0rem 26rem 4.4rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--ZRK .auto-group-qefm-4ss .item--KUM .auto-group-hvuo-4qF .item-2023-11-12-19-41-g5w {
  margin-left: 21.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--ZRK .item--VJH {
  box-sizing: border-box;
  padding: 2.4rem 1.579rem 2.986rem 4.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #e3ebf1;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--ZRK .item--VJH .item--zkq {
  margin: 0rem 32.579rem 0.014rem 0rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--ZRK .item--VJH .icon-content-send24px-VxV {
  margin-top: 0.5858rem;
  width: 3.2429rem;
  height: 2.8283rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item-49900--Pny {
  width: 10.3rem;
  height: 2.7rem;
  position: absolute;
  left: 19.7rem;
  top: 81.8rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Yqf .auto-group-a3as-b3F .item--5A1 {
  width: 42.9rem;
  height: 5.4rem;
  position: absolute;
  left: 0;
  top: 87rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.item--Yqf .auto-group-a3as-b3F .item--VDj {
  width: 15.5rem;
  height: 8.5rem;
  position: absolute;
  left: 0;
  top: 68rem;
  display: flex;
  align-items: center;
}
.item--Yqf .auto-group-a3as-b3F .item--VDj .rectangle-18-pWu {
  margin-right: 1.6rem;
  width: 8.4rem;
  height: 8.5rem;
  background-color: #000000;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--VDj .auto-group-jznb-ZjP {
  margin: 0.2rem 0rem 0.5rem 0rem;
  height: calc(100% - 0.7rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--VDj .auto-group-jznb-ZjP .item--uHT {
  margin-bottom: 1.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--VDj .auto-group-jznb-ZjP .item--38m {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--maZ {
  width: 13.3rem;
  height: 5.2rem;
  position: absolute;
  left: 48.8rem;
  top: 69.7rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebebeb;
  border-radius: 1rem;
}
.item--Yqf .auto-group-a3as-b3F .item--anu {
  box-sizing: border-box;
  padding: 3.1rem 2.8rem 30.6rem 2.8rem;
  width: 62.3rem;
  height: 56.6rem;
  position: absolute;
  left: 30.4rem;
  top: 23.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem #628097;
  background-color: #ffffff;
}
.item--Yqf .auto-group-a3as-b3F .item--anu .auto-group-cd79-3gV {
  margin-bottom: 1.9rem;
  width: 100%;
  height: 15.8rem;
  position: relative;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--anu .auto-group-cd79-3gV .item--mcV {
  width: 9rem;
  height: 2.7rem;
  position: absolute;
  left: 23rem;
  top: 0.6rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Yqf .auto-group-a3as-b3F .item--anu .auto-group-cd79-3gV .item--TVK {
  width: 15.2rem;
  height: 3.9rem;
  position: absolute;
  left: 2.5rem;
  top: 0;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Yqf .auto-group-a3as-b3F .item--anu .auto-group-cd79-3gV .line-2-KGd {
  width: 56.4rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 5.2rem;
  background-color: #000000;
}
.item--Yqf .auto-group-a3as-b3F .item--anu .auto-group-cd79-3gV .item--DN1 {
  width: 54.9rem;
  height: 15.8rem;
  position: absolute;
  left: 1.8rem;
  top: 0;
  display: flex;
  align-items: center;
}
.item--Yqf .auto-group-a3as-b3F .item--anu .auto-group-cd79-3gV .item--DN1 .auto-group-x3as-9WZ {
  box-sizing: border-box;
  padding: 10.6rem 1.6rem 0rem 0rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--anu .auto-group-cd79-3gV .item--DN1 .auto-group-x3as-9WZ .item--TXF {
  margin: 0rem 4.8rem 1.1rem 0rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--anu .auto-group-cd79-3gV .item--DN1 .auto-group-x3as-9WZ .item-2023-11-11-16-41--BTF {
  margin: 0rem 2.8rem 1.3rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--anu .auto-group-cd79-3gV .item--DN1 .auto-group-x3as-9WZ .item--HmB {
  width: 12.1rem;
  height: 100%;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a7c7df;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--anu .auto-group-cd79-3gV .item--DN1 .auto-group-kiuh-ye1 {
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--anu .auto-group-cd79-3gV .item--DN1 .auto-group-kiuh-ye1 .item--iLh {
  margin: 0rem 0rem 7.5rem 4.5rem;
  box-sizing: border-box;
  padding: 0rem 1.3rem 0rem 1.4rem;
  height: 3.1rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #e3ebf1;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--anu .auto-group-cd79-3gV .item--DN1 .auto-group-kiuh-ye1 .item--PBw {
  margin-right: 0.3rem;
  width: 8.4rem;
  height: 5.2rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a7c7df;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--anu .item--po3 {
  margin-left: 1.1rem;
  height: 5.2rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--anu .item--po3 .auto-group-qhux-xuF {
  box-sizing: border-box;
  padding: 1.1rem 2rem 1.1rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--anu .item--po3 .auto-group-qhux-xuF .item--Guw {
  margin-right: 4.8rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--anu .item--po3 .auto-group-qhux-xuF .item-2023-11-13-08-40--XjP {
  margin-top: 0.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--anu .item--po3 .item--dGd {
  margin-right: 1.6rem;
  width: 11.9rem;
  height: 100%;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a7c7df;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item--Yqf .auto-group-a3as-b3F .item--anu .item--po3 .item--fj7 {
  width: 8.4rem;
  height: 100%;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a7c7df;
  border-radius: 1rem;
  flex-shrink: 0;
}
