
html {
	font-size:40%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}
.signup-box {
  padding-top: 2%;
  padding-left: 45%;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.signup-box .setting-icon {
  margin: 0rem 0rem 4rem 102.6rem;
  width: 5.6rem;
  height: 5.7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.signup-box .signup-label {
  margin: 0rem 34.5rem 6.05rem 0rem;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signup-box .form {
  margin: 0rem 26.9rem 5.95rem 0rem;
  width: 81.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.signup-box .form .id-box {
  box-sizing: border-box;
  padding: 1rem 5.65rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.signup-box .form .id-box .id-label {
  margin: 0rem 0rem 0.2rem 1rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signup-box .form .id-box .id-input {
  font-size: large;
  padding: 10px;
  width: 100%;
  height: 7rem;
  border: solid 0.1441rem #c4c4c4;
  box-sizing: border-box;
  background-color: #f2f8fc;
  border-radius: 1.4407rem;
  flex-shrink: 0;
}
.signup-box .form .group {
  box-sizing: border-box;
  padding: 3.2rem 5.65rem 0rem 5.65rem;
  width: 100%;
  row-gap: 4.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.signup-box .form .group .pw-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.signup-box .form .group .pw-box .pw-label {
  margin: 0rem 0rem 0.2rem 1rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signup-box .form .group .pw-box .pw-input {
  font-size: large;
  padding: 10px;
  width: 100%;
  height: 7rem;
  border: solid 0.1441rem #c4c4c4;
  box-sizing: border-box;
  background-color: #f2f8fc;
  border-radius: 1.4407rem;
  flex-shrink: 0;
}
.signup-box .form .group .area-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.signup-box .form .group .area-box .area-label {
  margin: 0rem 0rem 0.2rem 1rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signup-box .form .group .area-box .select-area {
  font-size: large;
  padding: 10px;
  width: 100%;
  height: 7rem;
  border: solid 0.1441rem #c4c4c4;
  box-sizing: border-box;
  background-color: #f2f8fc;
  border-radius: 1.4407rem;
  flex-shrink: 0;
}
.signup-box .form .group .nickname-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.signup-box .form .group .nickname-box .nickname-label {
  margin: 0rem 0rem 0.2rem 1rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signup-box .form .group .nickname-box .nickname-input {
  font-size: large;
  padding: 10px;
  width: 100%;
  height: 7rem;
  border: solid 0.1441rem #c4c4c4;
  box-sizing: border-box;
  background-color: #f2f8fc;
  border-radius: 1.4407rem;
  flex-shrink: 0;
}
.signup-box .form .group .img-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.signup-box .form .group .img-box .img-label {
  margin: 0rem 0rem 0.2rem 1rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signup-box .form .group .img-box .file-box {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 7rem;
  border: solid 0.1441rem #c4c4c4;
  border-radius: 1.4407rem;
  flex-shrink: 0;
}
.signup-box .form .group .img-box .file-box .file-input {
  box-sizing: border-box;
  padding: 0.7rem 2.5rem 0rem 2.5rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #a7c7df;
  border-radius: 1.441rem;
}
.signup-box .okButton {
  margin: 0rem 58.8rem 0rem 31.8rem;
  width: calc(100% - 90.6rem);
  height: 7rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1441rem #c4c4c4;
  box-sizing: border-box;
  background-color: #f7f7f7;
  border-radius: 1.4407rem;
  flex-shrink: 0;
}
.okButton:hover{
  background-color: #d6d6d6;
}