
html {
	font-size: 40%;
}
* {
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

.upload-box {
  background-color: #ffffff;
}

.upload-box .back-box {
  padding-top: 2%;
  width: 100%;
}
.upload-box .back-box .back-icon {
  margin: 1rem;
  width: 6rem;
  height: 4rem;
  object-fit: contain;
}

.upload-box .upload-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.upload-box .upload-inner .upload-innerBox {
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.upload-box .upload-inner .upload-innerBox .upper-box {
  margin-bottom: 5rem;
  height: 43.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.upload-box .upload-inner .upload-innerBox .upper-box .upper-leftBox {
  margin: 0rem 5rem 0rem 0rem;
  width: 50.8rem;
  height: calc(100% - 1.2rem);
  row-gap: 4.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.upload-box .upload-inner .upload-innerBox .upper-box .upper-leftBox .name-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.upload-box .upload-inner .upload-innerBox .upper-box .upper-leftBox .name-box .name-label {
  margin: 0rem 0rem 0.2rem 1rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.upload-box .upload-inner .upload-innerBox .upper-box .upper-leftBox .name-box .name-input {
  font-size: large;
  padding: 10px;
  width: 100%;
  height: 7rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 1rem;
  flex-shrink: 0;
}
.upload-box .upload-inner .upload-innerBox .upper-box .upper-leftBox .price-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.upload-box .upload-inner .upload-innerBox .upper-box .upper-leftBox .price-box .price-label {
  margin: 0rem 0rem 0.2rem 1rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.upload-box .upload-inner .upload-innerBox .upper-box .upper-leftBox .price-box .price-input {
  font-size: large;
  padding: 10px;
  width: 100%;
  height: 7rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 1rem;
  flex-shrink: 0;
}
.upload-box .upload-inner .upload-innerBox .upper-box .upper-leftBox .area-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.upload-box .upload-inner .upload-innerBox .upper-box .upper-leftBox .area-box .item--MMT {
  margin: 0rem 0rem 0.2rem 1rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.upload-box .upload-inner .upload-innerBox .upper-box .upper-leftBox .area-box .area-input {
  font-size: large;
  padding: 10px;
  width: 50.8rem;
  height: 7rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.upload-box .upload-inner .upload-innerBox .upper-box .img-box {
  width: 50.8rem;
  height: 100%;
  flex-shrink: 0;
}
.upload-box .upload-inner .upload-innerBox .upper-box .img-box .img-label {
  margin: 0rem 0rem 0.2rem 1rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.upload-box .upload-inner .upload-innerBox .upper-box .img-box .file-box {
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 7rem;
  border: solid 0.1rem #000000;
  border-radius: 1rem;
}
.upload-box .upload-inner .upload-innerBox .upper-box .img-box .images-box {
  margin: 0 0.5rem;
  height: 30.2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow: scroll;
}

.upload-box .upload-inner .upload-innerBox .upper-box .img-box .images-box .preview-image{
  max-width: 37%;
  max-height: 37%;
  display: block;
  margin-bottom: 5px;
}

.upload-box .upload-inner .upload-innerBox .lower-box {
  margin-bottom: 5%;
  width: 700px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.upload-box .upload-inner .upload-innerBox .lower-box .comment-box {
  margin: 0rem 0rem 1rem 1.6rem;
  display: flex;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3626480103;
  color: #000000;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.upload-box .upload-inner .upload-innerBox .lower-box .comment-input {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 26.8rem;
  resize: none;
  font-size: large;
  font-family: NanumGothic, 'Source Sans Pro';
  border: solid 0.1rem #000000;
  border-radius: 1rem;
  flex-shrink: 0;
}
.upload-box .upload-inner .upload-innerBox .uploadButton {
  width: 700px;
  height: 7rem;
  display: flex;
  font-size: x-large;
  font-weight: 700;
  color: #ffffff;
  font-family: NanumGothic, 'Source Sans Pro';
  align-items: center;
  justify-content: center;
  background-color: #a7c7df;
  border-radius: 1rem;
  flex-shrink: 0;
}
.uploadButton:hover{
  background-color: #85a4bb !important;
}